.demo-form {
    .select2-container {
        display: block;
        width: 100% !important;

        &:focus {
            outline: none;
        }
    }

    .selection,
    .select2-selection {
        &:focus {
            outline: none;
        }
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px;
        border-color: rgba(204,204,204,0.49);
    }

    .select2-container .select2-selection--single {
        height: 46px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
        color: rgb(153, 153, 153);
    }

    .select2-selection--single .select2-selection__arrow {
        height: 46px;
    }
}
