.section-faq {

    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 44%;
        left: 0px;
        transform: skewY(-5deg);
        height: 100%;
        background-color: #fff4f4;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0faff,endColorstr=#f7f9fa);
        background-image: linear-gradient(top,#f0faff 0%,#f7f9fa 0%,#fff 100%);
        background-image: -ms-linear-gradient(top,#f0faff 0%,#f7f9fa 0%,#fff 100%);
        background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0%,#f0faff),color-stop(0%,#fcfbfb),color-stop(100%,#fff));
        content: '';
        width: 100%;
    }

    .logo-footer {
        text-align: center;
        @media(min-width: $sm) {
            text-align: left;
            padding-left: 30px;
        }
    }

    .section-heading {
        @media(min-width: $sm) {
            padding-left: 185px;
        }
        @media(min-width: $md) {
            padding-left: 255px;
        }
    }
}
