.request-demo-wrapper {
    box-shadow: 0 3px 16px 5px rgba(35, 31, 32, 0.03);
    background-color: #fffaf5;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;

    .section-heading--initial {
        font-size: 18px;
        line-height: 28px;
        padding: 0 15px 10px;

        @media(min-width: $md) {
            font-size: 22px;
            line-height: 32px;
            font-weight: 700;
        }
    }

}
.demo-form-wrapper {
    padding: 30px 0px;
    background-color: #fff;

    @media(min-width: $md) {
        padding: 30px 20px;
    }
    @media(min-width: $lg) {
        padding: 60px 30px;
    }
    .info {
        padding: 0 15px 10px;
    }

    .form-group {
        padding-bottom: 15px;
        @media(min-width: $sm) {
        }
    }
}


.demo-form {
    @media(min-width: $md) {
        margin-top: 25px;
    }
}
