.section {
    &--faq {

        padding-top: 50px;

        @media(min-width: $sm) {
            padding-top: 100px;
        }
        @media(min-width: $md) {
            padding-top: 150px;
        }
        .section-heading {
            padding: 0 30px;
            line-height: 30px;

            @media(min-width: $sm) {
                padding-bottom: 25px;
            }
            @media(min-width: $md) {
                padding-bottom: 50px;
            }
        }
    }
}


.faq-wrapper {
    @media(min-width: $sm) {
        padding-right: 25px;
    }

    position: relative;

    .bar {
        position: absolute;
        bottom: 10%;
        right: -5px;

        @media(min-width: $sm) {
            right: 20px;

        }
    }

    .circle {
        position: absolute;
    }

    .circle--ringGreen {
        top: -10px;
        left: 10%;
    }

    .circle--filled {
        top: -20px;
        left: -5px;
    }

    .circle--circleOrange {
        top: 20px;
        left: -7px;
        opacity: 0.6;
    }
}
.faq-menu {
    border-radius: 10px;
    box-shadow: 0 3px 16px 5px rgba(35, 31, 32, 0.03);
    background-color: #ffffff;
    margin-top: 25px;
    padding: 30px;

    @media(min-width: $sm) {
        padding: 30px 30px 55px;
        margin-top: 0px;
    }
    // @media(min-width: $md) {
    //     padding-bottom: 70px;
    // }


    &__list {
        text-transform: uppercase;
        color: #474c53;
        font-family: $m-medium;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 1.32px;
        padding: 10px 0;
        position: relative;

        @media(min-width: $sm) {
            padding: 13px 0px;
        }
        @media(min-width: $md) {
            padding: 15px 0px;
        }

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            &::before,
            &::after {
                display: none;
            }
        }

        &::before,
        &::after {
            height: 1px;
            content: '';
            width: 100%;
            position: absolute;
            left: 0px;
            bottom: 0px;
            background-color: #f5f5f5;
        }

        &::after {
            background-color: #d9d9d9;
            width: 15%;
        }
    }
}

.qa-wrapper {
    margin-top: 25px;

    @media(min-width: $sm) {
        margin-top: 0px;
        padding-left: 25px;
    }
    @media(min-width: $lg) {
        padding-left: 40px;
    }

    >.link {
        margin-left: 20px;
    }
}

.qa-menu {
    padding: 0 15px;
    &__list {
        margin-bottom: 20px;
        list-style-type: decimal;
        list-style-position: initial;
        padding-left: 5px;

        @media(min-width: $sm) {
            margin-bottom: 25px;
            padding-right: 10px;
        }
    }

    &__heading {
        color: #797979;
        font-family: $m-medium;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        @media(min-width: $sm) {
            font-size: 16px;
            line-height: 26px;
        }
        @media(min-width: $md) {
            font-size: 18px;
            line-height: 28px;
        }

    }

    .info {
        color: #666;
    }
}
